* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#grid_wrapper {
  background-image: url(/img/mina_egna_bilder/lions.jpg) ;
  display: grid;
  height: 380vh;
  grid-template-columns: auto;
  grid-template-rows: 10vh ;
  grid-template-areas: 
  "na na na"
  "s1 s1 s1"
  "a1 a2 a3"
  "s2 s2 s2"
  "a4 a5 a6"
  "s3 s3 s3"
  "fo fo fo";
}


img {
  max-width: 100%;
  height: auto;
  width: auto;
}

header {
  justify-content: center;
  justify-content: flex-end;
  padding: 35px;
  
}

header:hover {
 background: black;
  opacity: 90%;
}

nav {
  background-color: rgb(97, 47, 47);
  opacity: 20%;
  grid-area: na;
  
}

#section1 {
  grid-area: s1;
  
  
}

#section2 {
  grid-area: s2;
  
}

#section3 {
  grid-area: s3;
  
}

#article1 {
  grid-area: a1;
  
}

#article2 {
  grid-area: a2;
  
}

#article3 {
  grid-area: a3;
  
}

#article4 {
  grid-area: a4;
}

#article5 {
  grid-area: a5;
  
}

#article6 {
  grid-area: a6;
 
}

footer {
  grid-area: fo;
}