
:root {
	--navbar-height: 3rem;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  .myDiv {
	display: grid;
	justify-content: center;
  }
  
  .pancake-stacking {
	width: 100%;
	height: 100vh;
	background: #222;
	align-items: center;
	justify-content: center;
	grid-template-rows: auto 1fr auto;
  }
  
  header nav {
	position: fixed;
	inset: 0 0 auto;
	z-index: 3;
	justify-content: end;
	align-items: center;
  
	height: var(--navbar-height);
	padding-inline: 1.5rem;
	background-color: hsl(0 0% 0% / 0.3);
  
	display: flex;
	gap: 1em;
  
	color: whitesmoke;
  
	transition: 2s;
  }

  .landpage_titel {
	border: 4px inset #ff6550;
	border-radius: 10px;
  }

  .landpage_titel:hover {
	text-shadow: 2px 2px 8px rgba(255, 0, 0, 0.61);
	transition: 2s;
  }

  .header {
	justify-content: space-between;
  }
  
  header nav h1 {
	align-self: center;
	margin-right: auto;
	font-family: "Courier New", Courier, monospace;
  }


  header nav:hover {
	background-color: hsl(0 0% 0% / 0.6);
  }
  
  header nav a {
	display: grid;
	place-items: center;
	padding-inline: 1em;
  }
  
  header nav a:is(:link, :visited) {
	width: auto;
	height: 40px;
	justify-self: center;
  }
  
  .swiper {
	width: 80%;
	height: fit-content;
  }
  
  .swiper-slide img {
	width: 100%;
  }
  
  /* stylar slideshowens knappar */
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
	color: #fff;
	width: 3rem;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: hsl(0 0% 0% / 0.2);
  
	color: rgb(184, 15, 15);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
  
	user-select: none;
  }

  article {
	justify-content: space-between;
  }
  
  #article_1 .right {
	color: #fff;
	width: 3rem;
	display: inline-block;
	aspect-ratio: 1;
	background: rgb(170, 45, 40);
	border-radius: 50%;
	font-size: 16px;
	transition: 0.6s ease;
  }

  #article_2 .right {
	color: #fff;
	width: 3rem;
	display: inline-block;
	aspect-ratio: 1;
	background: rgb(211, 113, 67);
	border-radius: 50%;
	font-size: 16px;
	transition: 0.6s ease;
  }

  #article_3 .right {
	color: #fff;
	width: 3rem;
	display: inline-block;
	aspect-ratio: 1;
	background: rgb(240, 95, 50);
	border-radius: 50%;
	font-size: 16px;
	transition: 0.6s ease;
  }
  
  .right:after {
	content: "";
	display: inline-block;
	margin-top: 0.6em;
	margin-left: -0.1em;
	width: 1.4em;
	height: 1.4em;
	border-top: 0.4em solid #333;
	border-right: 0.4em solid #333;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  .swiper .swiper-button-prev:hover,
  .swiper .swiper-button-next:hover {
	background-color: hsl(0 0% 0% / 0.5);
  }
  
  .swiper .swiper-pagination-bullet-active {
	background: rgb(255, 255, 255);
	aspect-ratio: 1;
	background-color: hsl(0, 92%, 36%);
	border-radius: 50%;
	transition: background-color 0.6s ease;
  }
  
  .swiper .swiper-pagination-bullet-active:hover {
	background-color: #222;
  }
  
  a {
	text-decoration: none;
	color: inherit;
  }
  
  button {
	cursor: pointer;
  }
  
  h2 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: #fff;
  }
  
  .h2_articles {
	font-size: 135%;
  }
  
  body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  header .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  main {
	justify-self: center;
	justify-content: center;
	/* width: min(90vw, 50rem); */
	margin-block: 1rem 1.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/* grid-template-columns: repeat(3, 1fr); */
	gap: 1rem;
  }
  
  main > * {
	display: grid;
	place-items: center;
  }
  
  main > section {
	min-height: 8rem;
	grid-column: span 3;
  }
  
  main > section:first-of-type {
	background-color: brown;
  }
  
  main > section:last-of-type {
	background-color: aqua;
  }
  
  main > article {
	min-height: 5rem;
	border-radius: 0.5em;
  }
  
  main > article:first-of-type {
	background: rgb(233, 78, 73);
  }
  
  main > article:nth-of-type(2) {
	background: rgb(253, 143, 91);
  }
  
  main > article:nth-of-type(3) {
	background: rgb(252, 129, 92);
  }
  
  main > article:nth-of-type(4) {
	background-color: magenta;
  }
  
  main > article:nth-of-type(5) {
	background-color: blueviolet;
  }
  
  main > article:last-of-type {
	background-color: orange;
  }
  
  footer {
	padding-block: 1rem;
	background: #111;
	height: auto;
	width: auto;
	padding-top: 40px;
	color: #fff;
	text-align: center;
  }
  
  .footer-content {
	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
  }
  
  .footer-content h3 {
	font-size: 2.1rem;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 3rem;
  }
  
  .footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
	color: #cacdd2;
  }
  
  .footer-bottom {
	background: #000;
	width: 100vw;
	padding: 40px;
	padding-bottom: 40px;
	text-align: center;
  }
  
  .footer-bottom p {
	float: left;
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
  }
  .footer-bottom p a {
	color: #44bae8;
	font-size: 16px;
	text-decoration: none;
  }
  .footer-bottom span {
	text-transform: uppercase;
	opacity: 0.4;
	font-weight: 200;
  }
  
  .socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
  }
  
  .socials a {
	text-decoration: none;
	color: #fff;
	border: 1.1px solid white;
	padding: 5px;
	border-radius: 50%;
  }
  
  .socials a i {
	font-size: 1.1rem;
	width: 20px;
	transition: color 0.4s ease;
  }
  
  .socials a:hover i {
	color: rgb(234, 207, 160);
  }
  
  .pancake-stack_v4 {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
  }
  
  .swiper {
	width: 80%;
	height: fit-content;
  }
  
  .swiper-slide img {
	width: 100%;
  }
  
  .footer-content .socials {
	gap: 10px;
  }
  
  @media (max-width: 500px) {
	.footer-menu ul {
	  display: flex;
	  margin-top: 10px;
	  margin-bottom: 20px;
	}
  }
  
  .articles {
	display: flex;
	flex-basis: 30%;
	padding: 30px 30px;
	cursor: pointer;
	width: 400px;
	height: 200px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
	  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
	  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
	  rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
	  rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	gap: 100px;
  }
  
  #tickets-1 {
	font-style: italic;
	font-size: larger;
	color: #fff;
  }
  
  #tickets-2 {
	font-size: 18px;
	color: #111;
  }
  
  main > article:hover p {
	color: #fff !important;
	transition: 0.6s;
  }

  main > #article_1:hover {
	background: rgb(170, 45, 40);
	transition: 0.6s ease;
  }

  main > #article_1:hover .right{
	background: rgb(233, 78, 73);
	transition: 0.6s ease;
  }

  main > #article_2:hover {
	background: rgb(211, 113, 67);
	transition: 0.6s ease;
  }

  main > #article_2:hover .right{
	background: rgb(253, 143, 91);
	transition: 0.6s ease;
  }

  main > #article_3:hover {
	background: #f05f32;
	transition: 0.6s ease;
  }

  main > #article_3:hover .right{
	background: rgb(252, 129, 92);
	transition: 0.6s ease;
  }
  
  .button {
	background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
	border: 0;
	border-radius: 12px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
	  sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 2.5;
	outline: transparent;
	padding: 0 1rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
  }
  
  .button:not([disabled]):focus {
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
	  -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
	  0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button:not([disabled]):hover {
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
	  -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
	  0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .container_low {
	display: grid;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
  }
  
  #article_4 {
	height: 500px;
  }
  
  #article_5 {
	height: 500px;
  }

 .pancake-stacking-about-us {
	background: #222;

 }
 

 .container {
	text-align: center;
	background: #222;
 }


 .sub-container {
	max-width: 1200px;
	margin: auto;
	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative; 
	height: 450px;
	color: #ffffff;
	padding-top: 140px;
	text-align: center;
	width: 100%;
 }

 


 .teams {
	margin: 10px;
	padding: 22px;
	max-width: 30%;
	cursor: pointer;
	transition: 0.4s; box-sizing: border-box;
 }



 .teams:hover {
	background: rgba(221, 221, 221, 0.616);
	border-radius: 12px;
 }
 

 .teams img {
	width: 200px;
	height: 200px;
 }

 .name {
	padding: 12px;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
 }

 .desig{
	font-style: italic;
	color: #777;
 }

 .about {
	margin: 20px 0;
	font-weight: lighter;
	color: #4e4e4e;
 }

 .social-links {
	margin: 14px;
 }

 .social-links a  {
	display: inline-block;
	height: 30px;
	width: 30px;
	transition: .4s;
 }


 .social-links a:hover {
	transform: scale(1.5);
 }

 .social-links a  i{
	color: #444;
 }

 .header_2 {
	height: 400px;
	position: relative;
	width: 100%;
	background-image: url(../img/mina_egna_bilder/cabybara.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
 }

 .header_2 img {
	width: 100%;
 }

 

 @media screen and (max-width:600px) {
	.teams {
		max-width: 100%;
	}
 }

 .content {
	position: relative; 
	top: 100px;
 }


 #footer_about_us {
	position:relative; 
	top: 9rem;
 }

 .pancak-stacking-resturant {
	background-color: #222
 }

 .grid_wrapper_resturant{
	display: grid;
	grid-area: 
	"ca1 . . ca2 . . ca3"
	"ca4 . . ca5 . . ca6" 
	"ca7 . . ca8 . . ca9";
 }

 #card_1{
	height: 400px;
	width: 300px;
	color: tomato;
	grid-area: ca1;

 }

 #card_2{
	height: 400px;
	width: 300px;
	color: rgb(241, 103, 65);
	

}

#card_3{
	height: 400px;
	width: 300px;
	color: #6d3310;
	

}

#card_4{
	height: 400px;
	width: 300px;
	color: #f05f32;
	

}

#card_5{
	height: 400px;
	width: 300px;
	color: #f05f32;

}

#card_6{
	height: 400px;
	width: 300px;
	color: #ef4765;
	

}

#card_7{
	height: 400px;
	width: 300px;
	color: #f05f32;
	

}

#card_8{
	height: 400px;
	width: 300px;
	color: #ff6550;
	

}

#card_9{
	height: 400px;
	width: 300px;
	color: #ef4765;

}